---

---

<section id="faq" class="flex items-center justify-center p-8">
  <div
    class="relative w-full max-w-7xl mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40"
  >
    <div class="pb-12 text-xl text-center tracking-tight">
      <span class="text-purple-500">Frequently Asked Questions.</span>
      <h2 class="mt-6 text-3xl text-slate-50 font-bold">
        Clear Answers for Your Queries.
      </h2>
      <div class="mt-4">
        <span class="text-zinc-400"
          >Our FAQ section addresses common questions about Astro Framework.
          Learn more about how Astro can help you build fast, responsive
          websites with ease. Find answers to queries about features, pricing
          plans, and more.</span
        >
      </div>
    </div>
  </div>
</section>
