---
import Cards from "./ui/CardsFeatures.astro";

import settings from "/public/assets/settings.svg";
import check from "/public/assets/check.svg";
import secure from "/public/assets/secure.svg";
import fast from "/public/assets/fast.svg";
import affordable from "/public/assets/affordable.svg";
import scalable from "/public/assets/scalable.svg";

interface CardsItem {
  title: string;
  description: string;
  src: ImageMetadata;
  alt: string;
}

const cardsItem: CardsItem[] = [
  {
    title: "Easy to Use",
    description:
      "Astro makes it simple to build fast, responsive websites with minimal effort. Our intuitive templates and tools help you get started quickly.",
    src: settings,
    alt: "settings icon",
  },
  {
    title: "Reliable",
    description:
      "Astro provides a stable environment for your web applications, ensuring consistent performance and uptime.",
    src: check,
    alt: "check icon",
  },
  {
    title: "Secure",
    description:
      "Security is a top priority with Astro, incorporating best practices to keep your data and applications safe.",
    src: secure,
    alt: "secure icon",
  },
  {
    title: "Fast",
    description:
      "With Astro, experience lightning-fast load times and optimized performance for a seamless user experience.",
    src: fast,
    alt: "fast icon",
  },
  {
    title: "Affordable",
    description:
      "Astro offers cost-effective solutions, making it accessible for developers and businesses of all sizes.",
    src: affordable,
    alt: "affordable icon",
  },
  {
    title: "Scalable",
    description:
      "Astro scales effortlessly with your needs, from small projects to large, complex applications.",
    src: scalable,
    alt: "scalable icon",
  },
];
---

<section id="features" class="flex items-center justify-center p-8">
  <div
    class="relative w-full max-w-7xl mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40"
  >
    <div class="pb-12 text-xl text-center tracking-tight">
      <span class="text-purple-500">Astro Framework.</span>
      <h2 class="mt-6 text-3xl text-slate-50 font-bold">
        Engaging Features with Interactive Tools.
      </h2>
      <div class="mt-4">
        <span class="text-zinc-400"
          >Key Features of Astro Framework include a range of interactive tools
          designed to enhance user experience. Astro Framework empowers
          developers to build fast, responsive websites with ease, providing all
          the necessary features to streamline the development process.</span
        >
      </div>
    </div>
    <div class="shadow-[8px_9px_200px_16px_rgba(159,_122,_234,_1)]"></div>
    <div class="grid grid-cols-3 mt-6 gap-8">
      {
        cardsItem.map((item) => (
          <Cards
            src={item.src}
            alt={item.alt}
            title={item.title}
            description={item.description}
          />
        ))
      }
    </div>
  </div>
</section>
