---
interface MenuItems {
  title: string;
  li: string[];
  ref: string[];
}

const menuItems: MenuItems[] = [
  {
    title: "Quick Links",
    li: ["Home", "Features", "Pricing", "Testimonials", "FAQ"],
    ref: ["/home", "/features", "/pricing", "/testimonials", "/faq"],
  },
  {
    title: "Resources",
    li: ["Documentation", "Blog", "Community", "Support"],
    ref: ["/documentation", "/blog", "/community", "/support"],
  },
  {
    title: "Connect with Us",
    li: ["Facebook", "Twitter", "LinkedIn", "GitHub"],
    ref: ["/facebook", "/twitter", "/linkedin", "/github"],
  },
];
---

<div class="relative w-full max-w-7xl mx-auto py-12 border-t border-white/10">
  <footer>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {
        menuItems.map((item) => (
          <div class="col-span-1 text-slate-50">
            <h3 class="font-semibold text-lg text-slate-50">{item.title}</h3>
            <ul class="space-y-4 mt-6">
              {item.li.map((li, index) => (
                <li class="text-sm relative text-zinc-400 hover:text-slate-50 transition-colors duration-300 ease-in-out">
                  <a href={item.ref[index]} aria-label={`Navigate to ${li}`}>
                    {li}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
      <div class="flex flex-col space-y-3">
        <label for="newsletter" class="text-slate-50 font-bold"
          >Newsletter</label
        >
        <small class="text-zinc-400"
          >Subscribe to our newsletter to get the latest updates and news about
          Astro Framework.</small
        >
        <input
          id="newsletter"
          placeholder="Enter your email"
          type="text"
          class="h-10 p-3 w-full rounded-3xl"
        />
      </div>
    </div>
  </footer>
  <div
    class="absolute shadow-[8px_9px_400px_150px_rgba(154,_79,_225,_0.2)] min-w-full"
  >
  </div>
</div>
