---

---

<section id="hero" class="lg:p-8 overflow-hidden">
  <div
    class="mx-auto 2xl:max-w-7xl max-h-[800px] py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 w-full rounded-3xl overflow-hidden relative bg-radial-gradient-to-top"
  >
    un deux
  </div>
</section>
