---
import { Image } from "astro:assets";
import profilPicture from "../assets/IMG_0948bis.jpg";

export interface ImageItem {
  altText: string;
}

const imageItem: ImageItem = {
  altText: "Boris Picard Profil",
};

const orange = "#EF8801";
---

<section data-testid="home" id="home" class="grid gap-10">
  <div class="p-10 bg-zinc-800 rounded-3xl">
    <div class="grid grid-cols-2">
      <div class="grid grid-cols-2">
        <div class="col-span-2 my-auto space-y-8">
          <h1 class="text-slate-50 font-black text-5xl">Boris Picard</h1>
          <p class="text-slate-50 font-semibold text-xl prose">
            <span class="text-[orange]">Développeur web</span> à Amiens, je crée
            des
            <span class="text-[orange]">sites</span> et <span
              class="text-[orange]">applications web</span
            > en utilisant des <span class="text-[orange]"
              >technologies modernes</span
            >.
          </p>
          <button
            class="bg-[orange] transition-colors hover:bg-slate-50 rounded-xl p-3"
            >Accéder à mon CV</button
          >
        </div>
      </div>
      <div class="col-span-1 flex justify-end">
        {
          (
            <Image
              src={profilPicture}
              alt={imageItem.altText}
              width="250"
              height="250"
              class="rounded-3xl object-cover"
            />
          )
        }
      </div>
    </div>
  </div>
  <div class="p-10 bg-zinc-800 rounded-3xl">
    <div class="grid grid-cols-4">
      <div class="col-span-4 mx-auto">
        <h2 class="text-slate-50 font-black text-5xl">Mes projets</h2>
      </div>
    </div>
  </div>
</section>
