---
// bg-[#EF8801]
---

<section data-testid="home">
  <div class="mx-auto max-w-[700px] space-y-3">
    <div>
      <h1 class="text-slate-50 font-black text-4xl">Boris Picard</h1>
    </div>
    <div>
      <h2 class="text-slate-50 font-bold text-4xl">Développeur Web</h2>
    </div>
  </div>
</section>
