---
import Button from "./ui/Button.astro";

import { Image } from "astro:assets";

import logo from "../assets/astro-logo.svg";

export interface MenuItems {
  title: string;
  path: string;
}

const menuItems: MenuItems[] = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Features",
    path: "#features",
  },
  {
    title: "Pricing",
    path: "#pricing",
  },
  {
    title: "Testimonials",
    path: "#testimonials",
  },
  {
    title: "FAQ",
    path: "#faq",
  },
];
---

<div
  class="absolute top-0 shadow-[8px_9px_400px_150px_rgba(154,_79,_225,_0.2)] min-w-full"
>
</div>
<header>
  <nav class="flex p-3 lg:max-w-7xl mx-auto items-center">
    <div class="flex items-center">
      <a href="/"
        ><Image src={logo} alt="Brand logo" width={36} height={36} /></a
      >
    </div>
    <div
      class="relative flex flex-col w-1/4 p-3 py-4 mx-auto bg-black/10 border border-white/10 shadow-md backdrop-blur-xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row md:px-6"
    >
      <ul
        class="space-y-2 md:space-y-0 text-xs text-slate-50 items-center w-full md:inline-flex justify-center text-center gap-3"
      >
        {
          menuItems.map((item) => (
            <li>
              <a href={item.path} class="hover:text-purple-500 capitalize">
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="space-x-3">
      <Button variant="sign">Sign Up</Button>
    </div>
  </nav>
</header>
