---
import Button from "./ui/Button.astro";

export interface MenuItems {
  title: string;
  path: string;
}

const menuItems: MenuItems[] = [
  {
    title: "home",
    path: "/",
  },
  {
    title: "overview",
    path: "/overview",
  },
  {
    title: "components",
    path: "/components",
  },
];
---

<header>
  <nav class="flex p-3 lg:max-w-7xl mx-auto items-center">
    <div class="flex items-center">
      <a
        href="/"
        class="font-black text-slate-50 hover:text-[#EF8801]">Brand</a
      >
    </div>
    <div
      class="relative flex flex-col w-1/4 p-3 mx-auto bg-black/10 border border-white/10 shadow-md backdrop-blur-xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row md:px-6"
    >
      <ul
        class="space-y-2 md:space-y-0 text-xs text-slate-50 items-center w-full md:inline-flex justify-center text-center gap-3"
      >
        {
          menuItems.map((item) => (
            <li>
              <a href={item.path} class="hover:text-[#EF8801] capitalize">
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="space-x-3">
      <Button variant="primary">Sign Up</Button>
    </div>
  </nav>
</header>
