---
import Button from "./ui/Button.astro";

export interface MenuItems {
  title: string;
  path: string;
}

const menuItems: MenuItems[] = [
  {
    title: "home",
    path: "/",
  },
];
---

<header>
  <nav class="flex bg-white justify-between p-3 lg:max-w-7xl mx-auto px-8">
    <div class="flex items-center">
      <span>Brand</span>
    </div>
    <div class="flex bg-zinc-800 justify-center items-center w-1/4 h-10">
      <ul>
        {
          menuItems.map((item) => (
            <li>
              <a href={item.path}>{item.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex space-x-3">
      <Button variant="primary">Sign Up</Button>
      <Button variant="secondary">Sign In</Button>
    </div>
  </nav>
</header>
