---
export interface MenuItem {
  title: string;
  path: string;
}

const menuItems: MenuItem[] = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Projects",
    path: "#projects",
  },
  {
    title: "Contact",
    path: "#contact",
  },
];

// const currentPath: string = Astro.url.pathname;
---

<header
  class="sticky top-0 z-20 lg:border-b transition-all duration-300 border-transparent py-10"
>
  <nav
    class="lg mx-auto flex max-w-[400px] items-center rounded-2xl bg-zinc-800 justify-center gap-3 px-4 py-3 md:px-6 backdrop-blur-2xl"
  >
    <ul class="items-center flex gap-1">
      {
        menuItems.map((item) => (
          <li>
            <a
              class="hover:bg-zinc-700 focus:bg-zinc-700 px-4 py-2 font-semibold rounded-xl text-sm text-slate-50 hover:text-slate-300 transition-colors"
              href={item.path}
            >
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
