---

---

<section id="partner" class="flex items-center justify-center p-8">
  <div
    class="relative w-full max-w-7xl mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40"
  >
  </div>
</section>
