---
import TestimonialsCards from "./ui/TestimonialsCards.astro";
---

<section id="testimonials" class="p-8">
  <div
    class="relative w-full max-w-7xl mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40"
  >
    <div class="mb-24 text-xl text-center tracking-tight">
      <span class="text-purple-500">Customer Testimonials.</span>
      <h2 class="mt-6 text-3xl text-slate-50 font-bold">
        Astro Framework is trusted by developers.
      </h2>
      <div class="mt-4">
        <span class="text-zinc-400"
          >Astro is praised by users worldwide. Hear from satisfied clients
          about how Astro's engaging features and powerful tools have
          transformed their web development process. Build fast, responsive
          websites with ease using Astro Framework.</span
        >
      </div>
    </div>
    <div class="mt-6">
      <div class="grid grid-cols-2 bg-zinc-700 gap-8 rounded-3xl p-6 overflow-hidden">
        <TestimonialsCards />
      </div>
    </div>
  </div>
</section>
