---
import TestimonialsCards from "./ui/TestimonialsCards.astro";

interface CardsItems {
  quote: string;
  img: string;
  name: string;
  job: string;
}

const cardsItems: CardsItems[] = [
  {
    quote: `Astro has revolutionized the way we build our websites. 
    The platform's speed and ease of use are unmatched. Our team couldn't be happier with the results!`,
    img: "/public/pp3.jpg",
    name: "Emily R",
    job: "Web Developer at Tech Solutions",
  },
  {
    quote: `We transitioned to Astro and have seen a significant improvement in our deployment times. 
      The interactive tools and responsive designs have made a huge difference.`,
    img: "/public/pp1.jpg",
    name: "John D",
    job: "Lead Engineer at Innovatech",
  },
  {
    quote: `Astro's features have made our development process so much smoother. 
      The support team is always responsive and helpful. Highly recommend!`,
    img: "/public/pp4.jpg",
    name: "Samantha T",
    job: "Product Manager at WebWorks",
  },
  {
    quote: `The customizable templates and real-time analytics are game changers. 
      Astro has streamlined our workflow and enhanced our productivity.`,
    img: "/public/pp2.jpg",
    name: "Michael B",
    job: "CTO at Digital Creations",
  },
  {
    quote: `Switching to Astro was the best decision for our company. 
    The platform's reliability and performance have exceeded our expectations.`,
    img: "/public/pp5.jpg",
    name: "Laura K",
    job: "CEO at NextGen Solutions",
  },
  {
    quote: `Astro has drastically improved our development speed and efficiency. 
    The intuitive interface and robust features have made it our go-to solution for web development.`,
    img: "/public/pp6.jpg",
    name: "David M",
    job: "Senior Developer at CodeCrafters",
  },
];
---

<section id="testimonials" class="p-8">
  <div
    class="relative w-full max-w-7xl mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40"
  >
    <div class="mb-24 text-xl text-center tracking-tight">
      <span class="text-purple-500">Customer Testimonials.</span>
      <h2 class="mt-6 text-3xl text-slate-50 font-bold">
        Astro Framework is trusted by developers.
      </h2>
      <div class="mt-4">
        <span class="text-zinc-400"
          >Astro is praised by users worldwide. Hear from satisfied clients
          about how Astro's engaging features and powerful tools have
          transformed their web development process. Build fast, responsive
          websites with ease using Astro Framework.</span
        >
      </div>
    </div>
    <div
      class="mt-6 rounded-3xl bg-[radial-gradient(130%_110%_at_50%_97%,_transparent_35%,_#18181B_40%,_#7E22CE_100%)] max-h-[566px] overflow-hidden"
    >
      <div class="grid grid-cols-2 gap-8 rounded-3xl p-6">
        {
          cardsItems
            .concat(cardsItems)
            .map((item) => (
              <TestimonialsCards
                quote={item.quote}
                img={item.img}
                name={item.name}
                job={item.job}
              />
            ))
        }
      </div>
    </div>
  </div>
</section>
