---
import { Image } from "astro:assets";
import alison from "../assets/alison.svg";
import futureLearn from "../assets/future-learn.svg";
import github from "../assets/github.svg";
import edx from "../assets/edx.svg";
import skillshare from "../assets/skillshare.svg";

interface ImagesItems {
  src: ImageMetadata;
  alt: string;
}

const imageItems: ImagesItems[] = [
  {
    src: alison,
    alt: "alison logo",
  },
  {
    src: futureLearn,
    alt: "future learn logo",
  },
  {
    src: github,
    alt: "github logo",
  },
  {
    src: edx,
    alt: "edx logo",
  },
  {
    src: skillshare,
    alt: "skillshare logo",
  },
];
---

<section id="trusted" class="p-8">
  <div
    class="relative w-full max-w-7xl max-h-[800px] mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40"
  >
    <div class="pb-12 border-b border-white/10 font-light text-xl text-center">
      <span class="text-purple-500">Trusted by the Best in Education.</span>
      <h2 class="mt-6 tracking-normal text-slate-50">
        EduMaster is the go-to solution for leading educational
      </h2>
      <span class="text-zinc-400"
        >institutions and organizations worldwide.</span
      >
    </div>
    <div class="mt-6 overflow-hidden">
      <div class="flex -ml-8 lg:-ml-4 animate-scroll">
        {
          imageItems.concat(imageItems).map((item) => (
            <div class="mt-4 flex-shrink-0 ml-8 lg:ml-4 flex-grow lg:flex-grow-0">
              <Image
                src={item.src}
                alt={item.alt}
                class="brightness-0 invert object-contain"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
