---
import { Image } from "astro:assets";

interface ImagesItems {
  src: string;
  alt: string;
}

const imageItems: ImagesItems[] = [
  {
    src: "/astro-light.svg",
    alt: "astro logo",
  },
  {
    src: "/astro-light.svg",
    alt: "astro logo",
  },
  {
    src: "/astro-light.svg",
    alt: "astro logo",
  },
  {
    src: "/astro-light.svg",
    alt: "astro logo",
  },
  {
    src: "/astro-light.svg",
    alt: "astro logo",
  },
];
---

<section id="trusted" class="p-8 flex items-center justify-center">
  <div
    class="relative w-full max-w-7xl mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40"
  >
    <div class="pb-12 text-xl text-center tracking-tight">
      <span class="text-purple-500">Trusted by the Best.</span>
      <h2 class="mt-6 text-3xl text-slate-50 font-bold">
        Astro is the go-to solution
      </h2>
      <div class="mt-4">
        <span class="text-zinc-400"
          >Rapidly deploying online content for institutions and organizations
          worldwide is made effortless with Astro. Our platform provides a
          robust and user-friendly environment that ensures your content is
          always delivered efficiently and effectively.</span
        >
      </div>
    </div>
    <div class="mt-6 overflow-hidden md:border-t md:border-b md:border-white/10">
      <div class="flex -ml-8 lg:-ml-4 animate-scroll justify-center items-center">
        {
          imageItems.concat(imageItems).map((item) => (
            <div class="mt-4 flex-shrink-0 ml-8 lg:ml-4 flex-grow lg:flex-grow-0">
              <Image src={item.src} alt={item.alt} class=" object-contain" width={400} height={400} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
