---

---

<section id="hero" class="flex items-center justify-center p-8">
  <div
    class="relative w-full max-w-7xl max-h-[800px] mx-auto py-24 lg:py-40 px-8 md:px-12 lg:px-16 xl:px-40 rounded-3xl bg-radial-gradient-to-top ring-1 ring-white/10"
  >
    <div class="flex justify-center mb-8"></div>
  </div>
</section>
