---
// import Footer from '@components/Footer.astro';
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";

export interface mainLayoutProps {
  title: string;
  seoDesc: string;
  seoTitle: string;
}

const { title, seoDesc, seoTitle } = Astro.props as mainLayoutProps;
---

<!doctype html>
<html lang="en" class="scroll-smooth" data-testid="html">
  <head>
    <SEO title={seoTitle} description={seoDesc} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
  </head>
  <body
    class="mx-auto container h-screen px-5 xs:text-[16px] md:text-[18px] bg-zinc-900"
  >
    <Navbar />
    <main class="grow">
      <slot />
    </main>
    <!-- <Footer /> -->
    <style is:global>
      img {
        content-visibility: auto;
      }
      :root {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </body>
</html>
