---
interface Props {
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "secondary" | "sign" | "pricing";
}

const { type, variant, ...props } = Astro.props as Props;

const variantClasses = {
  primary:
    "py-3 px-4 text-xs rounded-full bg-white hover:bg-white/10 text-black duration-200 hover:text-white",
  secondary:
    "relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10 shadow-glow",
  sign: "py-1.5 px-4 text-xs rounded-full bg-white text-black  hover:bg-white/10 text-black duration-200 hover:text-white backdrop-blur-xl backdrop-filter",
  pricing:
    "p-3 w-full px-4 text-xs rounded-full bg-white hover:bg-white/10 text-black duration-200 hover:text-white",
};
---

<button
  type={type ?? "button"}
  class={`lg:col-span-1 col-span-3 ${variantClasses[variant ?? "primary"]}`}
>
  <slot />
</button>
