---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<div class="border border-white/10 col-span-1 rounded-3xl h-[350px]">
  <h1>{title}</h1>
  <p>{description}</p>
</div>
