---

---

<div class="shadow-[8px_9px_200px_16px_rgba(159,_122,_234,_1)]"></div>
<div class="grid grid-cols-3 mt-6 gap-3">
  <div class="border border-white/10 col-span-1 rounded-3xl h-[350px]"></div>
  <div class="border border-white/10 col-span-1 rounded-3xl h-[350px]"></div>
  <div class="border border-white/10 col-span-1 rounded-3xl h-[350px]"></div>
</div>
